html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #111111;
  height: 100%;
  overflow: hidden;
  cursor: auto;
  font-family: "Josefin Sans", sans-serif;
}

#root,
.main {
  height: 100%;
}

p {
  margin: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main > div canvas + div {
  pointer-events: none;
  filter: drop-shadow(0 0 0.2rem rgba(255, 255, 255, 1));
}

.info-box {
  animation: fadeIn 0.3s forwards;
  width: 350px;
  color: #ffffff;
  text-align: center;
}

.info-box__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.info-box__desc {
  font-size: 1rem;
  line-height: 1.5;
}
